// fonts variabels
$popins:'Poppins', sans-serif;
$roboto: 'Lato', sans-serif;

// box shadow (red)
$bs-r-1: 0px 10px 40px #fa76767a;
$bs-r-3: 0px 8px 21px #fa76761a;

// box shadow (black)
$bs-b-1:2px 24px 37px -11px rgba(0, 0, 0, 0.315);
$bs-b-2: 0px 0px 15px rgba(0, 0, 0, 0.1);
$bs-b-3: 0px 8px 21px #3b3b3b34;


// color varibales
$color0: #000000;
$color1: #FFFFFF;
$color2: #253d4ed8;
$color3: #7E7E7E;
$color4: #3BB77E;
$color5: #D8D8D8;
$color6: #1B3363;
$color7: #FCFCFF;
$color13:#FA7676;
$color16:#ECFFEC;
$color17:#FEEFEA;
$color18: #FFFCEB;
$color19:#FAB876;




// liner gradient colors

$color10:rgba(59, 183, 126, 0.14);
$color11:rgba(250, 184, 118, 0.31);
$color14:rgba(255, 240, 220, 1);
$color15:rgba(245, 245, 245, 1);
$color20:rgba(126, 126, 126, 1);

// color for banner
$color12 :rgba(251, 223, 196, 1);







