@import "../abstracts/variables";
@import"../abstracts/mixin";



// button 1
@mixin button1 ($pd,$br,$bg) {
    @include fonts($roboto,18px,1.3,400,$color1);
    padding: $pd;
    border-radius: $br;
    background: $bg;
    display: inline-block;
    transition: 0.3s;
    
}

