@import "../abstracts/mixin";
@import "../abstracts/variables";



.category{
    margin:  0 50px;
    .category-name{
       display: flex;
       width: 70%;
       margin: 20px auto 0;
       justify-content: space-around;
       .cn{
           display: flex;
           flex-direction: column;
          align-items: center;
           .circle{
                 width: 70px;
                 height: 70px;
                 background: rgb(255, 241, 241);
                 border-radius: 50%;
                 padding: 5px;
                 img{
                     width: 100%;
                 }
           }
          p{  margin-top: 5px;
              @include fonts ($roboto,16px,16px,500,$color2)
          }
           
       }
    }
}